In [5]:
from IPython.display import display
import pandas as pd
import numpy as np
dataSet = pd.read_csv('Electric_Vehicle_Population_Data (1).csv')
#grouping/sorting the cars into groups below to analyze there relationship with 
#all the variables or properties by which they are sorted. eg. City, Make.
groupBy = dataSet[['City', 'Model Year', 'Model', 'Make', 'Electric Range']].head(50)
print(groupBy)

                 City  Model Year        Model        Make  Electric Range
0              Yakima        2014          500        FIAT              87
1             Olympia        2017      MODEL X       TESLA             200
2              Renton        2023         330E         BMW              20
3             Bothell        2023          R1S      RIVIAN               0
4                Kent        2020      MODEL 3       TESLA             322
5             Poulsbo        2024           X5         BMW              39
6        Port Orchard        2018     PACIFICA    CHRYSLER              33
7             Poulsbo        2017      BOLT EV   CHEVROLET             238
8        Port Orchard        2018      MODEL 3       TESLA             215
9              Duvall        2018           I3         BMW             114
10            Olympia        2023      MODEL Y       TESLA               0
11           Bellevue        2019         NIRO         KIA             239
12            Seattle        2020      MODEL Y       TESLA             291
13          Bremerton        2020       FUSION        FORD              26
14            Seattle        2016           I3         BMW              81
15            Seattle        2024           X5         BMW              39
16            Poulsbo        2017  PRIUS PRIME      TOYOTA              25
17              Selah        2016      MODEL X       TESLA             200
18            Seattle        2020      MODEL 3       TESLA             322
19            Poulsbo        2018         VOLT   CHEVROLET              53
20            Poulsbo        2013         LEAF      NISSAN              75
21         Silverdale        2022          R1T      RIVIAN               0
22            Seattle        2019      MODEL 3       TESLA             220
23              Brier        2020      BOLT EV   CHEVROLET             259
24  Bainbridge Island        2020           I3         BMW             153
25            Bothell        2020      MODEL Y       TESLA             291
26              Lacey        2018       OPTIMA         KIA              29
27             Yakima        2020      MODEL 3       TESLA             266
28            Seattle        2018      MODEL 3       TESLA             215
29            Olympia        2022           X5         BMW              30
30             Yakima        2017      MODEL S       TESLA             210
31            Bothell        2019      MODEL S       TESLA             270
32             Yakima        2022      MODEL Y       TESLA               0
33           Tumwater        2018           I3         BMW              97
34            Edmonds        2013         VOLT   CHEVROLET              38
35             Yakima        2023    OUTLANDER  MITSUBISHI              38
36       Lake Stevens        2016           I3         BMW              72
37             Tieton        2019      MODEL 3       TESLA             220
38            Bothell        2014         VOLT   CHEVROLET              38
39            Everett        2018      CLARITY       HONDA              47
40              Lacey        2020         LEAF      NISSAN             149
41            Olympia        2021         Q5 E        AUDI              18
42             Naches        2022     WRANGLER        JEEP              22
43         Oak Harbor        2019      BOLT EV   CHEVROLET             238
44            Poulsbo        2018         LEAF      NISSAN             151
45         Marysville        2020      MODEL Y       TESLA             291
46          Shoreline        2015         LEAF      NISSAN              84
47            Ephrata        2021     WRANGLER        JEEP              25
48            Olympia        2016           X5         BMW              14
49               Yelm        2015          500        FIAT              87

In [28]:
#exporting the csv file for the fie applied columns
groupBy.to_csv('groupedData.csv', index = False)

In [7]:
#In electrice Vehicles(EVs) and plug-in hybrid electric vehicles(PHEVs),
#Electric range refers to the distance a vehicle can travel on a single charge
#from it's power source; it's given it MILES or KILOMETERS
#finding the mean of the electric 
#range of the first 50 cars in the list using numpy
mean_value =  np.mean(dataSet['Electric Range'])

print(mean_value.round(2))

61.51

In [9]:
#Determining the number of models, makes and year of different cars is our sample
#1. Makes
#TESLA
#carMake = input("Make: ")
# totalCount= groupBy['Make'].str.contains(carMake, case=False).sum()
#print(totalCount)

In [29]:
#Determinig the Car model with the highest count
all_words = groupBy['Make'].str.split(expand=True).stack()

# Use value_counts to count the occurrences of each word
word_counts = all_words.value_counts()

# Get the word with the highest count
most_common = word_counts.idxmax()

# Get the count of the most common word
highest_count = word_counts.max()

# Print the result
print(f"The most common car is '{most_common}' with a count of {highest_count}.")

The most common car is 'TESLA' with a count of 16.

In [30]:
#Determinig the Car model with the highest count
all_words = groupBy['Make'].str.split(expand=True).stack()

# Use value_counts to count the occurrences of each word
word_counts = all_words.value_counts()

# Get the word with the highest count
least_common = word_counts.idxmin()

# Get the count of the most common word
least_count = word_counts.min()

# Print the result
print(f"The least common car is '{least_common}' with a count of {least_count}.")

The least common car is 'CHRYSLER' with a count of 1.

In [19]:
#The range of Cars in our sample
car_range = highest_count - least_count
print (car_range)

15

In [32]:
test_data = pd.read_csv('groupedData.csv')

In [33]:
print(test_data.to_string())

                 City  Model Year        Model        Make  Electric Range
0              Yakima        2014          500        FIAT              87
1             Olympia        2017      MODEL X       TESLA             200
2              Renton        2023         330E         BMW              20
3             Bothell        2023          R1S      RIVIAN               0
4                Kent        2020      MODEL 3       TESLA             322
5             Poulsbo        2024           X5         BMW              39
6        Port Orchard        2018     PACIFICA    CHRYSLER              33
7             Poulsbo        2017      BOLT EV   CHEVROLET             238
8        Port Orchard        2018      MODEL 3       TESLA             215
9              Duvall        2018           I3         BMW             114
10            Olympia        2023      MODEL Y       TESLA               0
11           Bellevue        2019         NIRO         KIA             239
12            Seattle        2020      MODEL Y       TESLA             291
13          Bremerton        2020       FUSION        FORD              26
14            Seattle        2016           I3         BMW              81
15            Seattle        2024           X5         BMW              39
16            Poulsbo        2017  PRIUS PRIME      TOYOTA              25
17              Selah        2016      MODEL X       TESLA             200
18            Seattle        2020      MODEL 3       TESLA             322
19            Poulsbo        2018         VOLT   CHEVROLET              53
20            Poulsbo        2013         LEAF      NISSAN              75
21         Silverdale        2022          R1T      RIVIAN               0
22            Seattle        2019      MODEL 3       TESLA             220
23              Brier        2020      BOLT EV   CHEVROLET             259
24  Bainbridge Island        2020           I3         BMW             153
25            Bothell        2020      MODEL Y       TESLA             291
26              Lacey        2018       OPTIMA         KIA              29
27             Yakima        2020      MODEL 3       TESLA             266
28            Seattle        2018      MODEL 3       TESLA             215
29            Olympia        2022           X5         BMW              30
30             Yakima        2017      MODEL S       TESLA             210
31            Bothell        2019      MODEL S       TESLA             270
32             Yakima        2022      MODEL Y       TESLA               0
33           Tumwater        2018           I3         BMW              97
34            Edmonds        2013         VOLT   CHEVROLET              38
35             Yakima        2023    OUTLANDER  MITSUBISHI              38
36       Lake Stevens        2016           I3         BMW              72
37             Tieton        2019      MODEL 3       TESLA             220
38            Bothell        2014         VOLT   CHEVROLET              38
39            Everett        2018      CLARITY       HONDA              47
40              Lacey        2020         LEAF      NISSAN             149
41            Olympia        2021         Q5 E        AUDI              18
42             Naches        2022     WRANGLER        JEEP              22
43         Oak Harbor        2019      BOLT EV   CHEVROLET             238
44            Poulsbo        2018         LEAF      NISSAN             151
45         Marysville        2020      MODEL Y       TESLA             291
46          Shoreline        2015         LEAF      NISSAN              84
47            Ephrata        2021     WRANGLER        JEEP              25
48            Olympia        2016           X5         BMW              14
49               Yelm        2015          500        FIAT              87

In [27]:
# Assuming df is your DataFrame
# Replace 'Column_Name' with the actual column name you want to filter
filtered_df = test_data[test_data['Make'] == 'tesla']

# Print the filtered DataFrame
print(filtered_df)


# Assuming 'Attribute1', 'Attribute2', etc., are the columns you want to print
selected_columns = ['City', 'Model Year', 'Model', 'Make', 'Electric Range']

filtered_df = test_data[test_data['Make'] == 'tesla'][selected_columns]

# Print the filtered DataFrame
print(filtered_df)

Empty DataFrame
Columns: [Unnamed: 0, City, Model Year, Model, Make, Electric Range]
Index: []
Empty DataFrame
Columns: [City, Model Year, Model, Make, Electric Range]
Index: []